name: ci

on: [push, pull_request]

jobs:
  test:
    name: Test with Bun latest
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # v2
        with:
          bun-version: 'latest'

      - run: bun install
      - run: bun test:ci
      # - name: Code coverage with Codecov
      #   uses: codecov/codecov-action@ad3126e916f78f00edff4ed0317cf185271ccc2d # v5
      #   with:
      #     token: ${{ secrets.CODECOV_TOKEN }}
